<form (submit)="addTodo(); $event.preventDefault();" class="todo-form">
    <input [formControl]="name" placeholder="Add a new task" />
    <button class="pill add-button" type="submit">Add</button>
</form>

<ul class="todo-list">
    <li *ngFor="let todo of todos">
        <input type="checkbox" [checked]="todo.completed" (change)="toggleTodo(todo.id)" />
        <span [class.completed]="todo.completed">{{ todo.title }}</span>
        <button class="pill delete-button" (click)="deleteTodo(todo.id)">Delete</button>
    </li>
</ul>